<mat-toolbar>
  <span>{{formService.id.value != 0 ?"Edit Printing Edition":"Add Printing Edition"}}</span>
</mat-toolbar>
<form [formGroup]="formService.printingEditionForm" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="isRemoved">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input formControlName="title" matInput placeholder="Title..." maxlength="100">
          <mat-error *ngIf="formService.title.invalid && formService.title.touched">
            Book title is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput placeholder="Description..." maxlength="10000" rows="9"></textarea>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <mat-label>Category</mat-label>
          <mat-select formControlName="editionType">
            <ng-container>
              <mat-option *ngFor="let selectedEdition of keysEdition" [value]="selectedEdition">
                {{edition[selectedEdition]}}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="formService.typeValue.invalid && formService.typeValue.touched">
            Please choose category for edition
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Authors</mat-label>
          <mat-select formControlName='authors' multiple>
            <ng-container>
              <mat-option *ngFor="let author of authors" [value]="author.id">
                {{author.name}}
              </mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="formService.authorsList.invalid && formService.authorsList.touched">
            Edition without author(s) exist not possible
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Price</mat-label>
          <input formControlName="price" matInput type="number">
          <mat-error *ngIf="formService.price.invalid && formService.price.touched">
            Please enter price for edition
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Currency</mat-label>
          <mat-select formControlName="editionCurrency">
            <mat-option *ngFor="let selectedCurrency of keysCurrency" [value]="selectedCurrency">
              {{currency[selectedCurrency]}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="formService.currencyValue.invalid && formService.currencyValue.touched">
            Please choose currency for edition
          </mat-error>
        </mat-form-field>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <div class="btn-center">
    <button mat-raised-button type="submit">Submit</button>
    <button mat-raised-button (click)="onClose()" >Cancel</button>
  </div>
</form>
