<mat-toolbar>
  <span style="text-align: center;">{{formService.id.value != 0 ?"Edit Author":"Add Author"}}</span>
</mat-toolbar>
  <form [formGroup]="formService.authorForm" (submit)="onSubmit()">
        <div class="controles-container">
          <mat-form-field>
            <input type="hidden" formControlName="id">
            <input type="hidden" formControlName="isRemoved">
            <input matInput placeholder="Author name" formControlName="name" maxlength="30">
            <mat-error *ngIf="formService.name.invalid && formService.name.touched">
              Please input author name
            </mat-error>
          </mat-form-field>
          <mat-form-field *ngIf="formService.id.value != 0">
            <mat-label>Author Printing Editions</mat-label>
            <mat-select formControlName="printingEditions" multiple>
              <mat-option *ngFor="let printingEdition of printingEditions" [value]='printingEdition.id'>
                {{printingEdition.title}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formService.printingEditionList.invalid && formService.printingEditionList.touched"></mat-error>
          </mat-form-field>
        </div>
    <div class="btn-center">
      <button mat-raised-button [disabled]="formService.authorForm.invalid" type="submit">Submit</button>
      <button mat-raised-button (click)="onClose()">Cancel</button>
    </div>
  </form>
