<nav class="navbar navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="#"><i class="fas fa-book mr-2"></i>Book Publish Company</a>

    <div class="nav navbar-nav navbar-right">
      <div class="row">
        <a *ngIf="!(authStatus$ | async)" [routerLink]="['/account/signIn']"><span></span><i class="fas fa-sign-in-alt"></i> Sign In</a>
        <div  *ngIf="(authStatus$ | async) && role==='Admin'">
              <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
            ><mat-icon>account_circle </mat-icon></button>
            <mat-menu class="mat-menu-button" #menu="matMenu">
              <button class="menu-button"
                      [routerLink]="['/administration/users']"
                      mat-menu-item
              >User managment <mat-icon>supervised_user_circle</mat-icon></button>

              <button class="menu-button"
                      [routerLink]="['/administration/printing-editions']"
                      mat-menu-item
              >Product managment <mat-icon>book</mat-icon></button>

              <button class="menu-button"
                      [routerLink]="['/administration/authors']"
                      mat-menu-item
              >Authors page <mat-icon>perm_identity</mat-icon></button>

              <button class="menu-button"
                      (click)="signOut()"
                      mat-menu-item
              >Logout <mat-icon>exit_to_app</mat-icon></button>

            </mat-menu>
        </div>
        <div *ngIf="(authStatus$ | async) && role==='Client'">
          <button mat-icon-button (click)="openShopCart()"><mat-icon>shopping_cart</mat-icon></button>
          <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          ><mat-icon>account_circle </mat-icon></button>
          <mat-menu class="mat-menu-button" #menu="matMenu" >
            <button class="menu-button" (click)="signOut()" mat-menu-item>Logout <mat-icon>exit_to_app</mat-icon></button>
          </mat-menu>
        </div>
      </div>
    </div>
</nav>
