.position{
  width: 100%;
}

table{
  position: relative;
}

div p .add-author{
  position: absolute;
  left: 95%;
  color: black;
  margin-bottom: 3rem;
}

.search-btn{
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
}

.search-card{
  width: 250px;
}

p{
  margin-left: 3%;
}


ul{
	list-style-type: none;
  margin: 0;
  padding: 0;
}

.edit-icon{
  margin-left: 20%;
  color: black;
}

.edit-icon :hover{
  color: grey;
}

.td-data{
  text-align: center;
  vertical-align: middle;
  position: relative;
}
