.position{
  width: 100%;
}

table{
  position: relative;
}

.status{
  width: 150px;
}

.search-btn{
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 24px;
}

.search-card{
  width: 250px;
}
