.header{
  margin-left: 70%;
}

.header_top{
  width: 300px;
}


.price{
  color: green;
}

.title{
  font-weight: bold;
}

.price-range-input{
  width: 100px;
  margin: 0px 15px 0px 15px;
}

.left-sidebar{
  margin-left: 20px;
}

.mat-raised-button{
  background-color: black;
  color:white;
}

.apply-button{
  margin:0 30%;
  width: 10%;
}

