<div class="signup-form" *ngIf="!(signUpState$ | async)">
  <form [formGroup]="signUpForm" (submit)="signUp()">
  <h2>Sign Up</h2>
  <p>Please fill in this form to create an account!</p>
  <hr>
      <div class="form-group">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" formControlName="firstName" placeholder="First Name">
        <span class="error-block" *ngIf="!firstName.valid && (firstName.touched || formSubmited)">
          Please provide first name
        </span>
      </div>
      <div class="col">
        <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name" >
        <span class="error-block" *ngIf="!lastName.valid && (lastName.touched || formSubmited)">
          Please provide last name
        </span>
      </div>
    </div>
      </div>
      <div class="form-group">
        <input type="email" class="form-control" formControlName="email" placeholder="Email">
        <span class="error-block" *ngIf="!email.valid && (email.touched || formSubmited)">
          <span *ngIf="email.hasError('required')">
            Please provide email
          </span>
          <span *ngIf="email.hasError('email')">
            Please provide email provider
          </span>
      </span>
      </div>
    <div class="form-group">
        <input type="password" class="form-control" formControlName="password" placeholder="Password">
        <span class="error-block" *ngIf="!password.valid && (password.touched || formSubmited)">
          <span *ngIf="password.hasError('required')">
            Please provide password
          </span>
          <span *ngIf="password.errors.minlength">
            Passsword should not be lesser then 8 charaster
          </span>
        </span>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
        <span class="error-block" *ngIf="!confirmPassword.valid && (confirmPassword.touched || formSubmited)">
          <span *ngIf="confirmPassword.hasError('required')">
            Please confirm password
          </span>
          <span *ngIf="signUpForm.hasError('notmatched') && confirmPassword.valid">
            Password not matched
          </span>
        </span>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="signUpForm.invalid" class="btn btn-primary btn-lg">Sign Up</button>
    </div>
  </form>
<div class="hint-text">Already have an account? <a [routerLink]="['/account/signIn']">Login here</a></div>
</div>

<div class="initial-component" *ngIf="signUpState$ | async">
  <h2>{{authMessage$| async}}</h2>
  <p>We sent sent an email with a confirmation link to your email address.
     In order to complete sign-up process please click the confirmation link
  </p>
  <p>
    If you do not receive a confirmation email, please check your spam folder.
    Also, please verify that you entered a valid email address in our sign-up form
  </p>
</div>
