<div class="container">
  <div class="row">
    <div class="col-md-5">
      <img src="assets/images/default.png">
    </div>
    <div class="col-md-7">
      <h2>{{printingEdition.title}}</h2>
      <p>ID {{printingEdition.id}}</p>
      <p>Author(s) :</p>
      <ul role="list">
        <li *ngFor="let author of printingEdition.authorInPrintingEditions" role="listitem">
          {{author.author.name}}
        </li>
      </ul>
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input [(ngModel)]="quantity" matInput type="number" value="1" min="1" >
      </mat-form-field>
      <b class="price">{{printingEdition.price}} {{printingEdition.editionCurrency | cur}}</b>
      <br>
      <button mat-icon-button (click)="addProduct()"><mat-icon>
        add_shopping_cart</mat-icon>Add to Cart</button>
    </div>
  </div>
  <p>
    {{printingEdition.description}}
  </p>
</div>
