.orders-table{
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.product-list-in-table{
  list-style-type: none;
}

.mat-raised-button {
  background-color: black !important;
  color: white;
  width: 75%;
 }

ul{
  margin: 0;
  padding: 0;
}

