.form-control {
	height: 41px;
	background: #f2f2f2;
	box-shadow: none !important;
	border: none;
}
.form-control:focus {
	background: #e2e2e2;
}
.form-control, .btn {
	border-radius: 3px;
}
.signin-form {
	width: 400px;
	margin: 30px auto;
}
.signin-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signin-form h2  {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signin-form hr  {
	margin: 0 -30px 20px;
}
.signin-form .form-group {
	margin-bottom: 20px;
}

.signin-form .row div:first-child {
	padding-right: 10px;
}
.signin-form .row div:last-child {
	padding-left: 10px;
}
.signin-form .btn {
	font-size: 16px;
	font-weight: bold;
	background: black;
	border: none;
	min-width: 140px;
}
.signin-form .btn:hover, .signup-form .btn:focus {
	background:gray !important;
	outline: none;
}
.signin-form a {
	color: black;
	text-decoration: underline;
}
.signin-form a:hover {
	text-decoration: none;
}
.signin-form form a {
	color: black;
	text-decoration: none;
}
.signin-form form a:hover {
	text-decoration: underline;
}
.signin-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}
.signin-form .link{
  color:  black;
  font-weight: 600;
  text-decoration: none;
}
