<div class="forget-password-form" *ngIf="!(passwordResetStatus$ | async)">
  <h2>Forgot Password</h2>
  <p>Input email, then click button</p>
  <form [formGroup]="forgetPasswordForm" (submit)="forgotPassword()">
      <div class="form-group">
          <input type="text" class="form-control" formControlName="email" placeholder="Your Email *"/>
          <span class="error-block" *ngIf="!email.valid && (email.touched || formSubmited)">
            <span *ngIf="email.hasError('required')">
              Please provide email
            </span>
            <span *ngIf="email.hasError('email')">
              Please provide email provider
            </span>
        </span>
      </div>
      <div class="form-group">
          <input type="submit" [disabled]="forgetPasswordForm.invalid" class="btn btn-primary btn-lg" value="Reset password" />
      </div>
  </form>
</div>

<div class="initial-component" *ngIf="passwordResetStatus$ | async">
  <h2>{{authMessage$ | async}}</h2>
  <p>You wil an email with a new password to login anto your email box
     stated in your Personal Profile.
  </p>
  <p>
    Please contact our administrator if you don't receive an email message with
    a new password
  </p>
</div>
