table{
  width: 100%;
}

.checkout-header{
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.checkout-btn{
  margin-top: 20px;
  text-align: center;
}

.cart-empty{
  text-align: center;
}

button{
  margin: 1rem;
  width: 40%;
}
